/* Import Google Font Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Import Tailwind CSS */
@import "tailwindcss";

/* Import Flowbite Vue styles */
@import "flowbite-vue/index.css";
@import "vue-toastification/dist/index.css";

/* Import Flowbite plugin */
@plugin "flowbite/plugin";
@source "../node_modules/flowbite-vue";

/* Hide clear and reveal buttons in IE input fields */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Apply Roboto font globally */
body {
  font-family: 'Roboto', sans-serif;
}
