@import "tailwindcss";
/* import Flowbite Vue styles */
@import "flowbite-vue/index.css";
@import "vue-toastification/dist/index.css";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite-vue";
input::-ms-reveal,
input::-ms-clear {
  display: none;
}